<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
	<div id="first">
		<%- partial('_partial/header') %>
	</div>
	<div class="wrapper">
		<div class="container">
			<main class="main">
				<%- body %>
			</main>
		</div>
		<div class="container2">
			<main class="main2">
				<div class="col-second">
					<div class="col-box col-box-author">
						<img class="avatar" src="22.jpg" alt="evi1m0">
						<div class="col-box-title name">evi1m0</div>
						<p>evi1m0.bat[at]gmail.com</p>
						<p class="contact">

							<a href="http://weibo.com/evi1m0" target="_blank">Weibo</a>

							<a href="https://twitter.com/evi1m0" target="_blank">Twitter</a>

							<a href="https://github.com/evi1m0" target="_blank">GitHub</a>

						</p>
					</div>
					<div class="col-box">
						<div class="col-box-title">Newest Posts</div>
						<ul class="post-list">  
							<li><a class="post-link" href="/2018/04/19/Firefox_302_Redirect_URL_Spoofing_Vulnerability.html">Firefox 56.0 302 Redirect URL Spoofing Vulnerability</a></li>
							<li><a class="post-link" href="/2017/09/07/Safari-10-1-Browser-CSP-Bypass.html">Safari 10.1 Browser unsafe-inline CSP Bypass</a></li>
							<li><a class="post-link" href="/2017/06/30/New-Domain.html">啊呀域名出了点问题 :(</a></li>
							<li><a class="post-link" href="/2017/05/31/FXXK.html">猪厂事件原来并没结束...</a></li>
							<li><a class="post-link" href="/2017/05/17/QQBrowser-Infoleak-27552.html">QQ Browser 9.6 API 权限控制问题导致泄露隐私模式</a></li>
						</ul>
					</div>

				</div>
			</div>

		</main>
	</div>

	</div>
	</div>
	</body>

	</html>