<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body>
        <div id="first">
            <%- partial('_partial/header') %>
        </div>
        <div class="wrapper">
            <div class="container">
                <main class="main">
                    <%- body %>
                </main>
            </div>
            <div class="container2">
                <main class="main2">
                    <div class="col-second">
                        <div class="col-box col-box-author">
                            <img class="avatar" src="/img/22.jpg" alt="evi1m0">
                            <div class="col-box-title name">eugene1024</div>
                            <p>icode1024[at]gmail.com</p>
                            <p class="contact">
                                <a href="#" target="_blank">Weibo</a>
                                <a href="#" target="_blank">Twitter</a>
                                <a href="https://github.com/eugene1024" target="_blank">GitHub</a>
                            </p>
                        </div>
                       
                         <!--<div class="col-box">
                            <div class="col-box-title">Newest Posts</div>
                            <ul class="post-list">
                                <li><a class="post-link" href="/2018/04/19/Firefox_302_Redirect_URL_Spoofing_Vulnerability.html">Firefox 56.0 302 Redirect URL Spoofing Vulnerability</a></li>
                            </ul>
                        </div>-->
                        
                    </div>
                </main>
            </div>
            <div style="clear:both;">
            </div>
        </div>
     
    </body>

</html>