.header {
    line-height: 32px;
    background-color: #ad3809;
    padding: 10px;
    margin: 0;


}

 .blog-title a{
     
 
    color: #FFF;
    text-decoration: none;
    line-height: 38px;
    font-size: 32px;
    font-weight: 600;
}